## Contents
    01.Importing libraries
    02.Importing Data
    03.Combining Dataframes

# 01.Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02.Importing Data

In [2]:
path=r'C:\Users\rache\Documents\Instacart Basket Analysis'

In [10]:
#Importing orders_products_combined.pkl
df_ord_prod=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))

### Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [11]:
df_ord_prod.shape

(32434489, 11)

# 03.Combining Dataframes

### Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [23]:
#Importing products_cleaned.csv
df_prod=pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'products_cleaned.csv'))

In [24]:
df_prod.shape

(49672, 6)

In [12]:
df_ord_prod.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,first_time_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [17]:
df_prod.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [19]:
df_prod = df_prod.drop(columns = ['Unnamed: 0'])

In [20]:
df_prod.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

#### Only common column is product_id so that is how they will need to be combined.

In [28]:
df_ord_prod_merged=df_ord_prod.merge(df_prod, on = 'product_id')

In [29]:
df_ord_prod_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,first_time_customer,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,True,196,1,0,both,192,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,False,196,1,1,both,192,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,False,196,1,1,both,192,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,False,196,1,1,both,192,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,False,196,1,1,both,192,Soda,77,7,9.0

### Confirm the results of the merge using the merge flag.

In [30]:
df_ord_prod_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

### Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [31]:
#Exporting df_ord_prod_merged to pkl
df_ord_prod_merged.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merged.pkl'))