## Contents
    01.Importing libraries
    02.Importing Data
    03.Merging Tables

# 01.Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02.Importing Data

In [2]:
path=r'C:\Users\rache\Documents\Instacart Basket Analysis'

In [3]:
# Importing order_products_prior.csv
df_ords_prior=pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'))

In [4]:
df_ords_prior.shape

(32434489, 4)

In [5]:
# Importing orders_cleaned.csv
df_ords=pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_cleaned.csv'))

In [6]:
df_ords.shape

(3421083, 8)

# 03.Merging Tables

In [7]:
# Merging df_ords_prior & df_ords using order_id column
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [8]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,first_time_customer,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [9]:
# Checking merge frequency
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:
# Removing unnamed column
df_merged_large = df_merged_large.drop(columns = ['Unnamed: 0'])

In [16]:
# Exporting data to pkl
df_merged_large.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))

In [17]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_last_order,first_time_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both